@{
    ViewBag.Title = "Elite Aquatics -- Welcome!";
}

    <div >  <!-- i did set background here on this container thing but that didn't work..... -->
        
        <div class="row">
            <h1> Elite Aquatics </h1>
        </div>

        
        <!------------------------------------------------------------------------------>
        <div class="row">

            <div class="col-md-4">
                <div class="splash_main_cats">
                    <h2 class="front_main_cats">Athletes &amp; Teams </h2>
                    <p>
                    
                    </p>
                    <p>
                        <!-- spot for button -->
                    </p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="splash_main_cats">
                    <h2 class="front_main_cats">  Race Results </h2>
                    <p>
                        <!-- stuff -->
                    </p>
                    <p>
                        <!-- spot for button -->
                    </p>
                </div>
            </div>


                <div class="col-md-4">
                    <div class="splash_main_cats">
                        <h2 class="front_main_cats"> Coach Portal </h2>
                        <p>
                            <!-- stuff -->
                        </p>
                        <p>
                            <!-- spot for button -->
                        </p>
                    </div>
                </div>


            </div> <!-- END 2nd ROW -->


        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <div class="desc">
                    Elite Acquatics System will put high school and collegiate swim coaches
                    on a level playing field with coaches of elite teams, by providing means
                    to do in-depth tracking and analytics of their individual athletes and
                    teams!
                    <br />
                    <br />
                    Help your athletes reach their fullest potential with Elite Aquatics.
                    <br />
                    <br />
                    <h4 id="front_page_reg_login">
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) or @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })!
                    </h4>
                </div>
            </div>

            <div class="col-md-1">
            </div>
            
        </div>

    </div>