body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/***************************************************************************************/
h1 {
    font-size: 72px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 9px;
}

a {
    color: #2e2759;
}
    a:visited {
        color: #2e2759;
    }
    a:hover {
        color: #40367c;
    }
    a:active {
        color:#40367c;
    }

.control-label {
    font-size: 18px;
    font-weight: bold;
    color: #cccccc;
}

.desc {
    font-size: 18px;
    background-color: hsla(0, 100%, 90%, 0.4);
    border: 1px solid darkslateblue;
    border-radius: 11px;
    padding: 18px;
}

#front_page_reg_login {
    text-align: center;
    color: darkslateblue;
    font-size: 18px;
    font-weight: bold;
}

.box_holder {
    padding-left: 0px;
}

.info_box {
    background-color: hsla(0, 100%, 90%, 0.4);
    border: 1px solid darkslateblue;
    border-radius: 11px;
    padding: 18px;
    width: 72%;
}

.text-danger {
    font-weight: bold;
    color: crimson;
    font-size: 18px;
}