/* came with this stuff in this first part..... */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*=====================================================================================*/
/*                                our custom classes                                  */

/* trying out the video 'hero' video+image thing -- courtesy coverr */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

    .video-container .poster img {
        width: 100%;
        bottom: 0;
        position: absolute;
    }

    /* not sure why we get the black back when mid-resize..... */
    .video-container .filter {
        z-index: 100;
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    .video-container video {
        position: absolute;
        z-index: 0;
        bottom: 0;
    }

        .video-container video.fillWidth {
            width: 100%;
        }
/*-------------------------------------------------------------------*/
.splash_overlay {
    position: fixed;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    padding-top: 45px;
    padding-left: 18px;
}

.splash_subtitle {
    margin-left: 23px;
}

.splash_search {
    margin-top: 18px;
    margin-left: 45px;
    /* for testing */
    /*border: 1px solid red;*/
}

/* TODO -- figure out why the width on this isn't widening! */
.splash_search_input {
    width: 50%;
    padding: 9px;
    font-size: 18px;
}

.splash_intro_box {
    text-align: center;
    width: 100%;
    height: 45%;
    /* testing purposes */
    /*border: 1px solid orange;*/
}

.splash_intro {
    position: absolute;
    display: inline-block;
    bottom: 180px;
    text-align: left;
    font-size: 18px;
    /* was trying to get placement right on a regular screen   */
    /* but forgot about phones etc. aka responsiveness   [=   */
    margin-left: -250px;
    padding-left: 45px;
    /* for testing */
    /*border: 1px solid green;*/
}
/*=====================================================================================*/
.about_hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.63), 
                      rgba(0, 0, 0, 0.63)), 
                      url("https://stormy9.github.io/nerdvana/doggie_kitty_about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    color: #f2f2f2;
    height: 900px;
    /* this is to center 'about_title' */
    text-align: center;
    /* width: auto;   <= is default..... */
    /* was gonna try setting it to that, to see if it changes anything, */
    /* for centering the title crap better..... but it's default!      */
}

.about_title {
    position: absolute;
    display: inline-block;
    bottom: 315px;
    text-align: left;
    /* okay so it must be centering to the actual photo? */
    margin-left: -300px;
    /* left edge of text gets cut off when narrow */
    padding-left: 45px;
    /* for testing */
    /*border: 1px solid red;*/
}

.about_content {
    color: black;
    font-size: 18px;
    padding: 27px;
    padding-bottom: 45px;
}

.any_questions {
    width: 180px;
    background-color: #333333;
    border: 1px solid black;
    border-radius: 9px;
    padding: 9px;
    font-size: 18px;
    text-align: center;
}
/*=====================================================================================*/
.contact_hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.63), 
                      rgba(0, 0, 0, 0.63)), 
                      url("https://stormy9.github.io/nerdvana/bunny_contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    color: #f2f2f2;
    height: 720px;
}

.contact_title {
    position: absolute;
    display: inline-block;
    bottom: 135px;
    text-align: left;
}

.contact_content {
    color: black;
    font-size: 18px;
    padding-top: 18px;
    padding-left: 18px;
}

.contact_bottom_stuff {
    margin-top: 45px;
    margin-bottom: 45px;
    padding-left: 18px;
}

.email_button {
    width: 180px;
    background-color: #333333;
    border: 1px solid black;
    border-radius: 9px;
    padding: 9px;
    font-size: 18px;
    text-align: center;
}
/*=====================================================================================*/
.register_hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.63), 
                      rgba(0, 0, 0, 0.63)), 
                      url("https://stormy9.github.io/nerdvana/guineaPig_register.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    color: #f2f2f2;
    height: 100%;
}

.register_title {
    position: absolute;
    display: inline-block;
    bottom: 45px;
    text-align: left;
}

.password_rules {
    width: 35%;
    border: 1px solid black;
    border-radius: 11px;
    font-size: 18px;
    padding: 18px;
    margin-top: 36px;
    margin-left: 45px;
}
/*=====================================================================================*/
.login_hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.63), 
                      rgba(0, 0, 0, 0.63)), 
                      url("https://stormy9.github.io/nerdvana/parakeet_login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    position: relative;
    color: #f2f2f2;
    height:100%;
}

.login_title {
    position: absolute;
    display: inline-block;
    bottom: 45px;
    text-align: left;
}
/*=====================================================================================*/
.navbar-brand {
    font-size: 18px;
}

body {
    background-color: #ffffb3;
}
h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

p {
    padding-bottom: 5px;
}

li {
    padding-bottom: 5px;
}

.our_foot {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: lightgray;
    padding-top: 9px;
    padding-left: 18px;
    font-size: 11px;
    color: #333333;
}

hr {
    height: 1px;
    color: black;
    background-color: black;
    border: none;
}

.our_buttons {
    background-color: #333333;
    color: whitesmoke;
    border: 1px solid #333333;
}

/*==================================== LINKS! =========================================*/
/* unvisited link */
a:link {
    color: #e6e6e6;
    font-weight: bold;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #e6e6e6;
    font-weight: bold;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #bfbfbf;
    font-weight: bold;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #bfbfbf;
    font-weight: bold;
    text-decoration: none;
}
/*=====================================================================================*/

/*=====================================================================================*/
/* responsive shit for the couple of spots that need that                              */
/* the 'natural' positioning of the stuff low on the hero image on the front & about   */
/* pages was weird on normal-size screens -- fixing that made it look outright stupid  */
/* on phone-sized screens... and the fix took away the normal BootStrap responsive     */
/* crap.....  so here we go -- hopefully the best of both worlds here.....      [=     */
/*=====================================================================================*/

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 15px;
    }

    .splash_intro {
        position: absolute;
        display: inline-block;
        bottom: 180px;
        text-align: left;
        /* was trying to get placement right on a regular screen   */
        /* but forgot about phones etc. aka responsiveness   [=   */
        /*margin-left: -250px; */
        padding-left: 90px;
        font-size: 16px;
    }
    /* okay this ^^^ seems good now on emulators in chrome 'inspect' */

    /****************************** ABOUT max-width: 500px *****************************/
    .about_hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.63), 
                          rgba(0, 0, 0, 0.63)), 
                        url("https://stormy9.github.io/nerdvana/doggie_kitty_about.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        position: relative;
        color: #f2f2f2;
        height: 675px;
        /* this is to center 'about_title' */
        text-align: center;
    }

    .about_title {
        position: absolute;
        display: inline-block;
        bottom: 45px;
        text-align: left;
        /* okay so it must be centering to the actual photo? */
        /*margin-left: -300px;*/
        /* left edge of text gets cut off when narrow */
        padding-left: 135px;
    }
    /* and ditto for this ^^^ here */

    /**************************** CONTACT max-width: 500px *****************************/
    .contact_hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.63), 
                          rgba(0, 0, 0, 0.63)), 
                          url("https://stormy9.github.io/nerdvana/bunny_contact.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        position: relative;
        color: #f2f2f2;
        height: 675px;
    }

    .contact_title {
        position: absolute;
        display: inline-block;
        bottom: 45px;
        text-align: left;
    }
    /*********************** REGISTER max-width: 500px *********************************/
    .password_rules {
        width: 90%;
        border: 1px solid black;
        border-radius: 11px;
        font-size: 17px;
        padding: 18px;
        margin-top: 36px;
        margin-left: 18px;
    }
}
/*=====================================================================================*/
/***************************************************************************************/
/*=====================================================================================*/
/* media Query for really old/skinny phones like iPhone 5/SE.....                      */
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 15px;
    }

    /*************************** SPLASH max-width: 400px *******************************/
    .splash_intro {
        position: absolute;
        display: inline-block;
        bottom: 90px;
        text-align: left;
        /* was trying to get placement right on a regular screen   */
        /* but forgot about phones etc. aka responsiveness   [=   */
        /*margin-left: -250px; */
        padding-left: 108px;
        font-size: 15px;
    }
    /* okay this ^^^ seems good now on emulators in chrome 'inspect' */

    /***************************** ABOUT max-width: 400px ******************************/
    .about_hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.63), 
                          rgba(0, 0, 0, 0.63)), 
                        url("https://stormy9.github.io/nerdvana/doggie_kitty_about.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        position: relative;
        color: #f2f2f2;
        height: 600px;
        /* this is to center 'about_title' */
        text-align: center;
    }

    .about_title {
        position: absolute;
        display: inline-block;
        bottom: 45px;
        text-align: left;
        /* okay so it must be centering to the actual photo? */
        /*margin-left: -300px;*/
        /* left edge of text gets cut off when narrow */
        padding-left: 153px;
    }
    /* and ditto for this ^^^ here */

    /***************************** CONTACT max-width: 400px ****************************/
    .contact_hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.63), 
                          rgba(0, 0, 0, 0.63)), 
                          url("https://stormy9.github.io/nerdvana/bunny_contact.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        position: relative;
        color: #f2f2f2;
        height: 600px;
    }

    .contact_title {
        position: absolute;
        display: inline-block;
        bottom: 45px;
        text-align: left;
    }
    /************************** REGISTER max-width: 400px ******************************/
    .password_rules {
        width: 90%;
        border: 1px solid black;
        border-radius: 11px;
        font-size: 16px;
        padding: 18px;
        margin-top: 18px;
        margin-left: 18px;
    }
}
/*=====================================================================================*/
/* should we consider a max/min height? <= don't think we need to worry               */
/* should we consider media Query for tablets?  <= maybe..... might be okay though   */