<!DOCTYPE html>
<html>
<head>
    <!-- required meta tags -->
    <meta charset="utf-8">

    <!-- responsive meta tag -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- to ensure proper rendering and touch zooming for all devices,
            w/bootstrap, add this meta tag to your <head> -->
    <!------------------------------------------------------------------------------>
    <!-- Bootstrap CSS library -- this has to go up-top -->
    <!-- we're fetching it rather than hosting it locally -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- *our* CSS file -- has to go *after* Bootstrap library -->
    <link type="text/css" rel="stylesheet" href="../../Content/Profile_Styling.css" />

    <!---------------------------------------------------------------------------------->
    <title> Pet Profile Template </title>

</head>
    <!---------------------------------------------------------------------------------->
    <!----------------------------- NAVIGATION SECTION --------------------------------->


    <!---------------------------------------------------------------------------------->
    <!---------------------------- CONTENT SECTION ------------------------------------->
    <body class="main">
        
        <div class="container-fluid">
            
            <div class="row"><!-- FIRST ROW -->
                
                <!-- 1st column -->
                <div class="col-3"> 
                    
                    <!-- stuff goes here -->
                    
                </div><!-- end 1st\Left-side Column -->

                <!---------------------------------------------------------------------->
                <!-- 2nd column -->
                <div class="col-6"> 
                    
                    <!-- stuff goes here -->
                    
                </div><!-- end 2nd\Middle Column -->

                <!---------------------------------------------------------------------->
                <!-- 3rd column -->
                <div class="col-3">
                    
                    <!-- stuff goes here -->
                
                </div><!-- end 3rd\Right-side Column -->
                <!---------------------------------------------------------------------->
                
            </div><!-- END FIRST ROW -->
            <!-------------------------------------------------------------------------->
            
        </div><!-- END CONTAINER-FLUID \ MAIN CONTAINER INSIDE BODY -->

    <!---------------------------------------------------------------------------------->
    <!------------------------------- FOOTER SECTION ----------------------------------->
        
    <!---------------------------------------------------------------------------------->
    <!-------------------------- JS \ BS SCRIPT INCLUDES ------------------------------->
    <!-- js scripts -->
    <!-- bootstrap(jQ,pop,BS/JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous">s
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous">
    </script>

    <!-- my javascript -->
    <!--<script src="scripting/myscript.js"></script>-->
    <!---------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------->
    </body>
</html>