<!DOCTYPE html>
<html>
<head>
    <!-- required meta tags -->
    <meta charset="utf-8">

    <!-- responsive meta tag -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- to ensure proper rendering and touch zooming for all devices,
            w/bootstrap, add this meta tag to your <head> -->
    <!------------------------------------------------------------------------------>
    <!-- Bootstrap CSS library -- this has to go up-top -->
    <!-- we're fetching it rather than hosting it locally -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- *our* CSS file -- has to go *after* Bootstrap library -->
    <link type="text/css" rel="stylesheet" href="../../Content/Profile_Styling.css" />

    <!---------------------------------------------------------------------------------->
    <title> Pet Profile Template </title>

</head>
    <!---------------------------------------------------------------------------------->
    <!----------------------------- NAVIGATION SECTION --------------------------------->


    <!---------------------------------------------------------------------------------->
    <!---------------------------- CONTENT SECTION ------------------------------------->
    <body class="main">
        <div class="outer_container">
        <div class="container-fluid">
            
            <div class="row our_row_one"><!-- FIRST\TOP ROW -->

                stuff can go here -- full width row -- for now this represents navbar!

            </div><!-- END FIRST\TOP ROW -->
            <!-------------------------------------------------------------------------->
            
            <div class="row our_row_two"><!-- SECOND\MIDDLE ROW -->
                
                <!-- 1st column -->
                <div class="col our_col_one">

                    <!-- 'designation'   =] -->
                    <div class="owner_provider_box">
                        Pet!
                    </div>

                    <!-- profile picture -->
                    <div class="profile_pic_box_box">
                        <div class="profile_pic_box">
                            <img src="https://stormy9.github.io/images_doggies/Zoey_profile_Pic.jpg"
                                 class="profile_img" />
                        </div>
                    </div>

                    <!-- profile pic caption -->
                    <div class="profile_pic_caption_box">
                        <div class="profile_pic_caption">
                            caption for profile pic ^
                        </div>
                    </div>
                    <!-- stuff goes here -->

                </div><!-- END 1st\Left-side Column -->

                <!---------------------------------------------------------------------->
                <!-- 2nd column -->
                <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7 col-xl-7 our_col_two">

                    <!-- Pet name -->
                    <div class="user_name_box">
                        <h3>PetName GoesHere</h3>
                    </div>

                    <!-- Pet's Person-->
                    <div class="user_name_box">
                        <h3>My Person is: </h3>
                        <h4><i>  (owner's name) </i></h4>
                    </div>

                    <!-- Pet's general location -->
                    <div class="general_location_box">
                        <div class="general_location">
                            our general location
                        </div>
                    </div>

                    <!-- pet bio & etc. fun stuff -->
                    <div class="user_bio_box">
                        <h4>Things About Me:</h4>
                        woof woof woof woof woof woof woof woof woof woof woof woof woof
                        woof woof woof woof woof woof woof woof woof woof woof woof woof
                        woof woof woof woof woof woof woof woof woof woof woof woof woof
                        woof woof woof woof woof woof woof woof woof woof woof woof woof
                        woof woof woof woof woof woof woof woof woof woof woof woof woof
                        woof woof woof woof woof woof woof woof woof woof woof woof woof
                        woof woof woof woof woof woof woof woof woof woof woof woof woof
                        woof woof woof woof woof woof woof woof woof woof woof woof woof
                        woof woof woof woof woof woof woof woof woof woof woof woof woof
                    </div>

                </div><!-- END 2nd\Middle Column -->

                <!---------------------------------------------------------------------->
                <!-- 3rd column -->
                <div class="col span-2 our_col_three">

                    <!-- auto search result header -->
                    <div class="auto_search_result_header">
                        <h5 style="margin-left: 5px;"> My Pet Care Providers:</h5>
                    </div>

                    <!-- list this Pet's previous care providers here -->
                    <div class="auto_search_results_box_box">

                        <div class="auto_search_results_box">
                            <!---------------------------------------------------------->
                            <div class="search_result_card">

                                <a href="#" class="our_a">
                                    <!-- to carer's profile -->
                                    <img src="https://stormy9.github.io/nerdvana/Justin_profile_Pic.jpg"
                                         alt="profile picture"
                                         class="search_result_card_img">
                                </a>
                                <div class="search_result_card_info">
                                    <a href="#" class="our_a">
                                        <!-- to carer's profile -->
                                        <h6><b> Steve PetCarer </b></h6>
                                    </a>
                                    <p> Northeast Salem, Oregon </p>
                                    <div> badges here </div>
                                    <div> ratings here </div>
                                </div>
                            </div>
                            <!---------------------------------------------------------->
                            <div class="search_result_card">

                                <a href="#" class="our_a">
                                    <!-- to carer's profile -->
                                    <img src="https://stormy9.github.io/nerdvana/Justin_profile_Pic.jpg"
                                         alt="profile picture"
                                         class="search_result_card_img">
                                </a>
                                <div class="search_result_card_info">
                                    <a href="#" class="our_a">
                                        <!-- to carer's profile -->
                                        <h6><b> Steve PetCarer </b></h6>
                                    </a>
                                    <p> Northeast Salem, Oregon </p>
                                    <div> badges here </div>
                                    <div> ratings here </div>
                                </div>
                            </div>
                            <!---------------------------------------------------------->
                            <div class="search_result_card">

                                <a href="#" class="our_a">
                                    <!-- to carer's profile -->
                                    <img src="https://stormy9.github.io/nerdvana/Justin_profile_Pic.jpg"
                                         alt="profile picture"
                                         class="search_result_card_img">
                                </a>
                                <div class="search_result_card_info">
                                    <a href="#" class="our_a">
                                        <!-- to carer's profile -->
                                        <h6><b> Steve PetCarer </b></h6>
                                    </a>
                                    <p> Northeast Salem, Oregon </p>
                                    <div> badges here </div>
                                    <div> ratings here </div>
                                </div>
                            </div>
                            <!---------------------------------------------------------->
                        </div><!-- END 'auto_search_results_box' -->
                    </div><!-- END 'auto_search_results_box_box' -->
                </div><!-- END 3rd\Right-side Column -->
                <!---------------------------------------------------------------------->
                
            </div><!-- END 2nd\MIDDLE ROW -->
            <!-------------------------------------------------------------------------->
            <div class="row our_row_three"><!-- THIRD\BOTTOM ROW -->
                <div class="col-md-11 our_col_four">

                    <!-- stuff goes here ... bottom row ...
         9-column-wide span inside this row <br>
         try to get 3rd column in middle row to span two rows in height!  -->
                    <!-- pet profile preview box header -->
                    <div class="pet_profile_header">
                        <h3> My Pet Care Visits: </h3>
                    </div>

                    <table class="pet_care_table">
                        <tr>
                            <th class="table_col_one">Date</th>
                            <th class="table_col_two">Care Provider</th>
                            <th class="table_col_three">Care Details</th>
                        </tr>
                        <tr>
                            <td>02/16/2020</td>
                            <td>Steve PetCarer</td>
                            <td>
                                blah blah blah blah blah blah blah blah blah
                                blah blah blah blah blah blah blah blah blah
                                blah blah blah blah blah blah blah blah blah
                            </td>
                        </tr>
                        <tr>
                            <td>02/19/2020</td>
                            <td>Steve PetCarer</td>
                            <td>
                                blah blah blah blah blah blah blah blah blah
                                blah blah blah blah blah blah blah blah blah
                                blah blah blah blah blah blah blah blah blah
                            </td>
                        </tr>
                        <tr>
                            <td>02/21/2020</td>
                            <td>Steve PetCarer</td>
                            <td>
                                blah blah blah blah blah blah blah blah blah
                                blah blah blah blah blah blah blah blah blah
                                blah blah blah blah blah blah blah blah blah
                            </td>
                        </tr>
                    </table>

                </div><!-- END 4th Column -> one inside bottom row -->
            </div><!-- END THIRD\BOTTOM ROW -->
            <!---------------------------------------------------------------------->

        </div><!-- END CONTAINER-FLUID -->
        </div><!-- END OUTER CONTAINER \ MAIN CONTAINER INSIDE BODY -->
    <!---------------------------------------------------------------------------------->
    <!------------------------------- FOOTER SECTION ----------------------------------->
        
    <!---------------------------------------------------------------------------------->
    <!-------------------------- JS \ BS SCRIPT INCLUDES ------------------------------->
    <!-- js scripts -->
    <!-- bootstrap(jQ,pop,BS/JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous">s
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous">
    </script>
s
    <!-- my javascript -->
    <!--<script src="scripting/myscript.js"></script>-->
    <!---------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------->
    </body>
</html>