<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <configSections>
      <!-- For more information on Entity Framework configuration, 
            visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, 
            visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  
  
    <appSettings file="..\..\appSettingSecrets.config">
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="reCaptchaPublicKey" value="6LdCjNoUAAAAAKuJPUsHyQOeb790uXeVAXup8hXC" />
    </appSettings>


  <connectionStrings>
    
      <!-- borrowed from Hwk09 so i remember what i did & how stuff fits together   [=   -->
        <!-- configSource="web_deploy.config" --><!-- "web_deploy.config" doesn't go in repo -->
        <!-- we don't have one for Petopia yet - but there was one for Hwk09? -->
        <!-- where does that come from?  do we just make it? i made one.   [=   -->
    
      <!--both local and azure connection strings moved to the web_deploy.config file
        and accessed via 'file="..\..\appSettingSecrets.config'-->
    
  </connectionStrings>
  
  
    <system.web>
        <authentication mode="None" />
        <compilation debug="true" targetFramework="4.7.2" />
        <httpRuntime targetFramework="4.7.2" />

    </system.web>
  
  
    <system.webServer>
        <modules>
            <remove name="FormsAuthentication" />
        </modules>

        <!--**************************************************************************-->
        <!-- stuff for our custom 404 + 500 pages --><!-- still not working right!    -->
        <!-- update to BenFoster article => 'Demystifying' article!                   -->
        <!-- "(this is) currently best practice to configure friendly error pages in 
              one location AND to catch them all" ..... "handled on IIS level...it will
              literally pick up ALL error codes and redirect to a friendly error page" 
              ..... "if you want to have rock-solid error pages (which IIS can serve 
              even when everything else burns) then go with static file approach 
              (preferably .html)"                                                     -->
        <!-- .........................................................................-->        
        <!-- errorMode="Custom" so you can see/test locally -->
        <!-- normally you want errorMode="DetailedLocalOnly" to see error deets local -->
      
        <httpErrors errorMode="Custom" existingResponse="Replace">

            <clear />     <!-- this + existingResponse="Replace" from [demyst] -->
                          <!-- <clear /> removes any/all inherited settings    -->
          
            <error statusCode="404" path="~/404.html" responseMode="File" />

            <error statusCode="500" path="~/500.html" responseMode="File" />
          
            <!-- responseMode="File" preserves original/correct error code, and 
                  outputs a static file - .html pages render as expected        -->
            
            <!-- responseMode="Redirect" changes status code to 302 (redirect)  -->
          
            <!-- responseMode="ExecuteURL" renders dynamic page w/status code=200 
                  would have to do the <% Response.StatusCode=404 %> on an .aspx page 
                  to return correct status code (but using .html page is better)      -->
          
        </httpErrors>
        <!--**************************************************************************-->

    </system.webServer>


    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
               <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>

        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>




  <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
          
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
  
  
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
           
          <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
  
  
</configuration>