@model Petopia.Models.ViewModels.PetGalleryViewModel
@{
    ViewBag.Title = "Your Pet Photo Gallery!";
}


<div class="container-fluid"">
    <!--==============================================================================-->
    <div class="row" style="margin-bottom: 18px;">
        
        <h2 style="text-align:center; color: #261a0d; 
                    margin-top:9px; margin-bottom:0px;">
            @ViewBag.Title
        </h2>

        @if (ViewBag.ImageCount >= 5)
        {
            <p>
                You can only have a max of 5 pictures in your gallery,
                please delete one to add another
            </p>
        }
        else
        {
            <span style="float:right;">
                @Html.ActionLink("Add a new picture!", "PetGalleryCreate",
                        new { id = Model.CurrentPetID },
                        new { @class = "btn our_other_buttons",
                             style = "color: #f2e6d9; font-weight: normal;" })
            </span>
        }

    </div><!-- end row for button! -->
    <!--==============================================================================-->
    <div class="row">
        <!--------------------------------->
        <div class="col-sm-1 col-md-1">
            <!-- spacer column -->
        </div>
        <!--------------------------------->
        <div class="col-sm-10 col-md-10">

            <table style="width:100%; border: 1px solid #261a0d; border-radius: 5px;">

                @foreach (var item in Model.PetGalleryList)
                {
                    <tr style="border: none;">

                        <td style="padding: 9px; width:45%; margin: auto; 
                                    text-align: center; border:none;">

                            <div class="profile_pic_box_box" 
                                 style="display:inline-block;">

                                <div class="profile_pic_box">
                                    <img src=@Url.Action("ShowPetGallery", "Image",
                                new { id = item.PetPicID }) class="profile_img"
                                         style="width:450px; height:auto;" />
                                </div>
                            </div>

                        </td>
                        <!-------------------------------------------------------------->
                        <td style="padding: 9px; width:40%; border: none;">
                            @Html.DisplayFor(model => item.Comment)
                        </td>
                        <!-------------------------------------------------------------->
                        <td style="width: 15%; padding: 9px; border: none; 
                                    position: relative;">

                            <div class="btn our_buttons" style="position: absolute; 
                                                               bottom:5px; right: 5px;">

                                <a onclick="location.href='@Url.Action("PetGalleryDelete",
                                        "Pets", new { id = item.PetPicID })'" href="#">
                                    Remove this picture
                                </a>
                            </div>

                            @*Html.ActionLink("Delete", "Delete", 
                                                    new { id = item.PetPicID })*@

                        </td>
                        <!-------------------------------------------------------------->
                    </tr>
                }
            </table>
        </div><!-- end middle column -->
        <!--------------------------------->
        <div class="col-sm-1 col-md-1">
            <!-- spacer column -->
        </div>
        <!--------------------------------->
    </div><!-- END 2nd ROW -->
</div><!-- END CONTAINER-FLUID -->




