@{
    ViewBag.Title = "What does Petopia do?";
}

<!--==================================================================================-->
    <div class="container-fluid about_hero">

        <div class="container-fluid about_title">
            <h1>@ViewBag.Title</h1>
            <h3>@ViewBag.Message_PO</h3>
            <h3>@ViewBag.Message_PCP</h3>
            <h4> <em>(keep scrolling!)</em>  &nbsp;&nbsp;&nbsp; &darr;&darr;&darr;</h4>
        </div>

    </div>
    <!--==============================================================================-->
    <!--================================= ROW ONE ====================================-->
    <div class="container-fluid about_content">

        <div class="row about_for">
            <!-------------------------------------------------------------------------->
            <div class="about_box">
                <h3 style="margin-top: 0px; padding-top: 0px;"> 
                    Petopia is for <em>all</em> kinds of pets! </h3>
                <p>
                    dogs, cats, bunnies, guinea-pigs, ferrets, birds, reptiles,
                    pet pigs..... and other small furry (or non-furry!) pets!
                </p>
            </div>
            <!-------------------------------------------------------------------------->
            <div class="about_box">
                <h3 style="margin-top: 0px; padding-top: 0px;"> 
                    And for all kinds of Pet Owners! </h3>
                <h4> Do you need someone to..... </h4>
                <ul>
                    <li>Come in and feed your pets? &nbsp; make sure they have water? 
                    </li>
                    <li>Let them out and back in? &nbsp;
                        take them out to play, or for a walk or ride?
                    </li>
                    <li>Come in and give meds while you're at work? </li>
                    <li>
                        Is your pet elderly, or living with a chronic illness, and needs 
                        checking up on (or maybe cleaning up after) during the day?
                    </li>
                    <li>Are you trying to house-train your puppy? 
                    </li>
                    <li>Helping your pet overcome separation anxiety?
                    </li>
                    <li> Need someone to take your pet to the vet?
                        (routine visits only)
                    </li>
                    <li>To the dog-park? &nbsp; To the pet day-care? &nbsp; To the groomer's? 
                    </li>
                    <li> Need someone to run after your pet food or supplies
                        and leave them at your home?
                    </li>
                </ul>
            </div>
            <!-------------------------------------------------------------------------->
            <div class="about_box">
                <h3 style="margin-top: 0px; padding-top: 0px;">
                    Would you like to be a Pet Care Provider?
                </h3>
                <h4 style="padding-left: 13px; margin-bottom: 9px;">
                    Love pets and want a rewarding side-hustle? <br />
                </h4>
                <p style="padding-left: 13px;">
                    Sign up with Petopia and make some income doing something you enjoy!
                </p>
                <p style="padding-left: 13px;">
                    Build your rating and reputation to get more pet-care jobs... post 
                    your "pet resume" so owners know you can be counted on.
                </p>
            </div>
            <!-------------------------------------------------------------------------->
        </div><!-- END ROW ONE + 'about_for' -->
        <!---->
        <!---->        
        <!--==========================================================================-->
        <!--================================ ROW TWO =================================-->
        <div class="row">
            <h3 style="text-align: center; color: #990000;">
                Yes, you can be both a Pet Owner, and a Pet Care Provider!
            </h3>
            <br />
        </div><!-- END ROW TWO -->
        <!---->
        <!---->
        <!--==========================================================================-->
        <!--============================= ROW THREE ==================================-->

        <div class="row about_team" style="padding: 35px;">
            <hr />
            <h3> The team behind Petopia... </h3>

            <h4>
                Three computer science students who wanted an awesome project for
                their senior capstone project!
            </h4>
            <!--======================================================================-->
            <div class="panel-group" id="accordion_03">

                <div class="panel our_panel_01">
                    
                    <div class="panel-heading our_panel_heading">
                        <div class="panel-title our_panel_title">
                            <a data-toggle="collapse" data-parent="#accordion_03" href="#collapse_TH">
                                <p class="our_panel_p">
                                    Tricia Holman
                                </p>
                            </a><!-- end '#accordian_03' id + '#collapse_TH' href -->
                        </div><!-- end 'panel-title'\'our_panel_title' divs -->
                    </div><!-- end 'panel-heading'\'our_panel_heading' divs -->

                    <div class="panel-collapse collapse" id="collapse_TH">
                        <div class="panel-body">
                            <p>
                                Petopia originated from a "Dog Walking Database""
                                project at Chemeketa in their CIS degree program...
                                then for Systems Analysis, I came up with the initial
                                plans to make it a web app.
                            </p>
                            <p>
                                I kept wanting to implement it, but didn't have time
                                for something of this scale while working on a bachelor's
                                at Western.  Plus, there were some things I wasn't sure
                                how to implement -- either in code, or I just wasn't sure
                                how to make it real yet.
                            </p>
                            <p>
                                Enter Senior Sequence, and Team Nerdvana!
                                Now we have the time <b>assigned</b> to us!  Joey &amp;
                                Corrin have fantastic ideas for implementing the parts I
                                wasn't sure what to do with in the coolest way possible
                                -- they're awesome.   [=
                            </p>
                        </div><!-- end 'panel-body' div -->
                    </div><!--end 'panel-collapse'\'collapse' div + '#collapse_TH' id -->
                </div><!-- end 'panel'\'our_panel_01' div -->
                <!--==================================================================-->
                <div class="panel our_panel_01">

                    <div class="panel-heading our_panel_heading">
                        <div class="panel-title our_panel_title">
                            <a data-toggle="collapse" data-parent="#accordion_03" href="#collapse_CM">
                                <p class="our_panel_p">
                                    Corrin Moser
                                </p>
                            </a><!-- end '#accordian_03' id + '#collapse_CM' href -->
                        </div><!-- end 'panel-title'\'our_panel_title' divs -->
                    </div><!-- end 'panel-heading'\'our_panel_heading' divs -->
                    
                    <div class="panel-collapse collapse" id="collapse_CM">
                        <div class="panel-body">
                            <p>
                                Professional unprofessional, Scrum Lord, recovering 
                                procraistinator, and avid coder. Currently working towards
                                my bachelors in Computer Science.  I am tackling this big 
                                project with my wonderful group members Joey and Tricia!
                            </p>
                        </div><!-- end 'panel-body' div -->
                    </div><!--end 'panel-collapse'\'collapse' div + '#collapse_CM' id -->
                </div><!-- end 'panel'\'our_panel_01' div -->
                <!--==================================================================-->
                <div class="panel our_panel_01">
                    
                    <div class="panel-heading our_panel_heading">
                        <div class="panel-title our_panel_title">
                            <a data-toggle="collapse" data-parent="#accordion_03" href="#collapse_JT">
                                <p class="our_panel_p">
                                    Joseph Tavares
                                </p>
                            </a><!-- end '#accordian_03' id + '#collapse_JT' href -->
                        </div><!-- end 'panel-title'\'our_panel_title' divs -->
                    </div><!-- end 'panel-heading'\'our_panel_heading' divs -->

                    <div id="collapse_JT" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div><!-- end 'panel-body' div -->
                    </div><!--end 'panel-collapse'\'collapse' div + '#collapse_JT' id -->
                </div><!-- end 'panel'\'our_panel_01' div -->
            </div><!-- end 'panel-group' div + '#accordian_03' id -->
            <!--======================================================================-->
            <p>
                It's one of us you'll get if you ask for tech support, and for now, even
                when you ask any other question!
            </p>
            <p>
                You can also email us to let us know what you think of Petopia -- what do
                you like?  what could be better? are there any new features you'd like to
                see us figure out to make things more fun?
            </p>

            <div class="any_questions">
                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                    null, "team_nerdvana", null, null)
            </div>
        </div><!-- END ROW THREE *AND* 'panel-group' + 'about_team' div -->
        <!--==========================================================================-->
        <!---->
        <!---->
    </div><!-- end 'about_content' div -->
    <!--==============================================================================-->
