@{
    ViewBag.Title = "What does Petopia do?";
}

    <div class="container-fluid about_hero">

        <div class="container-fluid about_title">
            <h1>@ViewBag.Title</h1>
            <h3>@ViewBag.Message_PO</h3>
            <h3>@ViewBag.Message_PCP</h3>
        </div>


    </div>

    <div class="about_content">

        <p> stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here </p>
        <p>stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here </p>
        <p> stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here </p>
        <p>stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here </p>
        <p> stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here  </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>
        <p>            stuff goes here        </p>


    </div>
