@{
    ViewBag.Title = "Contact Petopia!";
}

<div class="container-fluid contact_hero">

    <div class="container-fluid contact_title">
        <h1>@ViewBag.Title</h1>
        <h3>@ViewBag.Message_PS</h3>
        <h3>@ViewBag.Message_PR</h3>
        <h3>@ViewBag.Message_PT</h3>
        <h4> <em>(keep scrolling!)</em>  &nbsp;&nbsp;&nbsp; &darr;&darr;&darr;</h4>
    </div>

</div>

<!--==================================================================================-->

<div class="container-fluid contact_content" id="petopia_service_question-comment">

    <h3 style="padding-top: 15px;"><!-- here only! b/c navbar..... or IS it??   =]    -->
        Questions or comments about Petopia services?
    </h3>

    <p>
        If you have questions about the services Petopia facilitates, or how any of our
        processes work, then feel free to email us at <span class="email_text">
            petopia.by.nerdvana@gmail.com
        </span>!
        Or you can press the button below.
    </p>

    <!-- HERE IS AN EMAIL BUTTON YOU CAN USE! -->
    <div class="email_button">
        <a href="mailto:petopia.by.nerdvana@gmail.com?Subject=Petopia%20Service%20Questions"
           target="_top">
            email petopia!
        </a>
    </div>

    <br /><hr />

    <!--==============================================================================-->

    <h3 id="inappropriate" style="padding-top: 49px;">
        Concerns about inappropriate content you've found on Petopia?
    </h3>

    <p>
        If you've found something that doesn't belong on Petopia, then please
        contact us at <span class="email_text">petopia.by.nerdvana@gmail.com</span>
        and we'll look into it immediately.
        You can also press the button below to contact us.
    </p>

    <!-- HERE IS AN EMAIL BUTTON YOU CAN USE! -->
    <div class="email_button">
        <a href="mailto:petopia.by.nerdvana@gmail.com?Subject=Petopia%20[Report%20Inappropriate%20Content]"
           target="_top">
            email an admin!
        </a>
    </div>

    <br /><hr />

    <!--==============================================================================-->

    <h3 id="dispute_resolution" style="padding-top: 49px;">
        Let us assist you in resolving a dispute.....
    </h3>

    <p>
        If there is a dispute between Pet Owner and Pet Care Provider, we will help 
        mediate things and arrive at a satisfactory resolution.
    </p>
    <p>
        Please contact us as soon as possible and explain the situation so we can get 
        started.  <span class="email_text">petopia.by.nerdvana@gmail.com</span>
    </p>

    <!-- HERE IS AN EMAIL BUTTON YOU CAN USE! -->
    <div class="email_button">
        <a href="mailto:petopia.by.nerdvana@gmail.com?Subject=Petopia%20[Report%20Inappropriate%20Content]"
           target="_top">
            email an admin!
        </a>
    </div>

    <br /><hr />

    <!--==============================================================================-->

    <h3 id="team_nerdvana" style="padding-top: 49px;">
        Need to report or get help with a technical issue from your visit with us?
    </h3>

    <p>
        We're all amazing here, so nothing <i>should</i> go wrong. But if something does,
        then contact us at <span class="email_text">
            wou.cs.team.nerdvana@gmail.com
        </span> and we'll get right back to you
        as fast as we can. You can also press the button below.
    </p>

    <!-- HERE IS AN EMAIL BUTTON YOU CAN USE! -->
    <div class="email_button">
        <a href="mailto:wou.cs.team.nerdvana@gmail.com?Subject=Petopia%20[Report%20Technical%20Issue]"
           target="_top">
            email tech support!
        </a>
    </div>

</div>

<!--==================================================================================-->
<div class="contact_bottom_stuff">
    <hr />
    <address>
        Team Nerdvana &nbsp; | &nbsp; Western Oregon University &nbsp; | &nbsp;
        Computer Science <br />
        Tricia Holman &nbsp; | &nbsp; Corrin Moser &nbsp; | &nbsp; Joseph Tavares<br />
        345 Monmouth Avenue North &nbsp; | &nbsp; Monmouth Oregon 97361 <br />
        <abbr title="Phone">Phone:</abbr> 971-264-3643 &nbsp; | &nbsp;
        wou.cs.team.nerdvana@gmail.com
    </address>

</div>
<!--==================================================================================-->