@{
    ViewBag.Title = "Contact Petopia!";
}

<div class="container-fluid contact_hero">

    <div class="container-fluid contact_title">
        <h1>@ViewBag.Title</h1>
        <h3>@ViewBag.Message_PS</h3>
        <h3>@ViewBag.Message_PT</h3>
    </div>

</div>

<!--==================================================================================-->

<div class="about_content">

    <h3>Questions or comments about Petopia services?</h3>

    <p>stuff goes here stuff goes here stuff goes here stuff goes here stuff goes 
    here stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here 
    stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff 
    goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff 
    goes here stuff goes here stuff goes here stuff goes here stuff goes here </p>

    <br /><br />

    <h3>Need to report or get help with a technical issue?</h3>

    <p> stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here 
    stuff goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff 
    goes here stuff goes here stuff goes here stuff goes here stuff goes here stuff </p>

    <p>            stuff goes here        </p>
    <p>            stuff goes here        </p>
    <p>            stuff goes here        </p>
    <p>            stuff goes here        </p>

</div>

<!--==================================================================================-->
<div class="contact_bottom_stuff">
    <hr />
    <address>
        Team Nerdvana<br />
        Western Oregon University<br />
        Computer Science Department<br />
        345 Monmouth Avenue North<br />
        Monmouth Oregon 97361<br />
        <abbr title="Phone">Phone:</abbr>
        971-264-3643
    </address>


    <!-- HERE ARE SOME EMAIL BUTTONS YOU CAN USE! -->
    <div class="email_button">
        <a href="mailto:petopia.by.nerdvana@gmail.com">
            email service!
        </a>
    </div>

    <br />

    <div class="email_button">
        <a href="mailto:wou.cs.team.nerdvana@gmail.com">
            email tech!
        </a>
    </div>

</div>
<!--==================================================================================-->