
@{
    ViewBag.Title = "How to use Petopia";
}

    <div class="container-fluid">

        <!-- ================================== ROW ONE ==============================-->
        <div class="row">
            <div class="col-sm-10">

                <h2> @ViewBag.Title! </h2>

            </div><!-- end col one -->
            <!-------------------------------------------------------------------------->
            <div class="col-sm-2">

                something

            </div><!-- end col two -->
            <!-------------------------------------------------------------------------->
        </div><!-- END ROW ONE -->
        <!-- ================================== ROW TWO ==============================-->
        <div class="row">
            <div class="col-sm-12 col-md-12">

                <!--================================ TABS! ===========================-->
                <!---->
                <!-- the nav part -->
                <ul class="nav nav-tabs" style="border: none;">
                    <li class="active">
                        <a data-toggle="tab" href="#home"
                           style="background-color: #392613; color: #f2e6d9;">
                            welcome!
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu1"
                           style="background-color: #604020; color: #f2e6d9;">
                            pet owner setup
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu2"
                           style="background-color: #604020; color: #f2e6d9;">
                            pet setup
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu3"
                           style="background-color: #604020; color: #f2e6d9;">
                            care provider setup
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu4"
                           style="background-color: #604020; color: #f2e6d9;">
                            making an appointment
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu5"
                           style="background-color: #604020; color: #f2e6d9;">
                            completing an appointment
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu6"
                           style="background-color: #604020; color: #f2e6d9;">
                            pet owner/carer communication
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu7"
                           style="background-color: #604020; color: #f2e6d9;">
                            have fun on Petopia!
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                </ul>
                <!------------------------- THE TAB CONTENT PART! ---------------------->
                <!---->
                <div class="tab-content">
                    <!------------------------------ 1st TAB => Welcome! --------------->
                    <div id="home" class="tab-pane fade in active">

                        welcome!

                    </div><!-- END DIV WHERE ID==HOME --><!-- aka WELCOME! -->
                    <!---->
                    <!---->
                    <!------------------------- 2nd TAB => Pet Owner Setup ------------->
                    <div id="menu1" class="tab-pane fade">
                        <div id="home" class="tab-pane fade in active">

                            pet owner setup

                        </div>
                    </div><!-- end div where id=Menu1 -->
                    <!---->
                    <!---->
                    <!------------------------------- 3rd TAB => Pet Setup ------------->
                    <div id="menu2" class="tab-pane fade">
                        <div id="home" class="tab-pane fade in active">

                            pet setup

                        </div>
                    </div><!-- end div where id=Menu2 -->
                    <!---->
                    <!---->
                    <!------------------------- 4th TAB => Pet Owner Setup ------------->
                    <div id="menu3" class="tab-pane fade">
                        <div id="home" class="tab-pane fade in active">

                            care provider setup

                        </div>
                    </div><!-- end div where id=Menu3 -->
                    <!---->
                    <!---->
                    <!------------------------- 5th TAB => Making Appointments --------->
                    <div id="menu4" class="tab-pane fade">
                        <div id="home" class="tab-pane fade in active">

                            making appointments

                        </div>
                    </div><!-- end div where id=Menu4 -->
                    <!---->
                    <!---->
                    <!------------------------- 6th TAB => Completing Appointments ----->
                    <div id="menu5" class="tab-pane fade">
                        <div id="home" class="tab-pane fade in active">

                            completing appointments

                        </div>
                    </div><!-- end div where id=Menu5 -->
                    <!---->
                    <!---->
                    <!------------------------- 7th TAB => Completing Appointments ----->
                    <div id="menu6" class="tab-pane fade">
                        <div id="home" class="tab-pane fade in active">

                            pet owner/carer communication

                        </div>
                    </div><!-- end div where id=Menu6 -->
                    <!---->
                    <!---->
                    <!----------------------------------- 8th TAB => Fun on Petopia! --->
                    <div id="menu7" class="tab-pane fade">
                        <div id="home" class="tab-pane fade in active">

                            have fun on Petopia!

                        </div>
                    </div><!-- end div where id=Menu7 -->
                    <!---->
                    <!---->
                    <!------------------------------------------------------------------>
                    <!---->
                    <!---->
                </div><!-- END OF TAB CONTENT THING -->
                <!--==================================================================-->
                <!---->
                <!---->
            </div><!-- end the single colum in row two -->
            <!---->
            <!---->
        </div><!-- END ROW TWO -->
        <!---->
        <!---->
    </div><!-- END CONTAINER-FLUID -->

