
@{
    ViewBag.Title = "How to use Petopia";
}

    <div class="container-fluid">

        <!-- ================================== ROW ONE ==============================-->
        <div class="row">
            <div class="col-sm-10">

                <h2> @ViewBag.Title! </h2>

            </div><!-- end col one -->
        </div><!-- END ROW ONE -->

        <!-- ================================== ROW TWO ==============================-->
        <div class="row">
            <div class="col-sm-12 col-md-12">


            </div><!-- end the single colum in row two -->
        </div><!-- END ROW TWO -->

    </div><!-- END CONTAINER-FLUID -->

